In [1]:
import pandas as pd
pd.set_option('display.max_rows', 25)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
df = pd.read_csv('files/2023_5_9/measurement/measurement_16-58-12.csv')
df

     Input                     Time   Latitude  Longitude    Altitude     Pitch         Yaw      Roll  Stonex_status
0     SMAR  2023-05-09 16:58:12.598  46.089803  11.115598  244.899994 -4.900000 -155.880000 -0.310000            NaN
1     SMAR  2023-05-09 16:58:12.617  46.089803  11.115598  244.899994 -4.890000 -155.860000 -0.300000            NaN
2     STON  2023-05-09 16:58:12.617  46.089802  11.115624  198.303000 -4.362865  -40.588020 -0.411021            2.0
3     SMAR  2023-05-09 16:58:12.659  46.089803  11.115598  244.899994 -4.880000 -155.820000 -0.290000            NaN
4     SMAR  2023-05-09 16:58:12.693  46.089803  11.115598  244.899994 -4.870000 -155.740000 -0.290000            NaN
...    ...                      ...        ...        ...         ...       ...         ...       ...            ...
3185  SMAR  2023-05-09 16:59:32.977  46.089850  11.115643  244.699997  6.590000  153.870000  1.440000            NaN
3186  SMAR  2023-05-09 16:59:33.002  46.089850  11.115643  244.699997  6.350000  152.910000  1.880000            NaN
3187  SMAR  2023-05-09 16:59:33.033  46.089850  11.115643  244.699997  6.080000  152.180000  2.380000            NaN
3188  STON  2023-05-09 16:59:33.033  46.089817  11.115612  198.462000  7.830273    9.885505  0.637223            2.0
3189  STON  2023-05-09 16:59:33.033  46.089817        NaN         NaN       NaN         NaN       NaN            NaN

[3190 rows x 9 columns]